* {
    background-color: black !important;
    color: white !important;
}

button, select, select:focus {
    border-color: white !important;
    outline-color: transparent;
}

button.active {
    background-color: #616161 !important;
}

button:disabled {
    background-color: #222 !important;
    color: #ccc !important;
    border-color: #ccc !important;
}

#flashcard.answer, .answer * {
    background-color: #333 !important;
}
